
.bin
.cache
.classpath
.data
.project
.sass-cache
.settings
.tmp
.git


*.7z
*.bin
*.data
*.rar
*.tmp
*.zip

dist
bower_components
node_modules
dev.md
module-evn.md

app/images
app/cms
app/styles/**/*.css
!app/styles/css/*.css
app/**/.gitignore

